# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

cmake_gcc/build/
cmake_gcc/Makefile
cmake_gcc/*.ninja
cmake_gcc/*.marks
build/
bin/
*.hex
*.bin
*.out
*.map

.pdm
cp_init.sh
cp_init.bat

.vscode/

__pycache__/
*.pyc